@charset "UTF-8";
/*
 * 后台框架样式变量
 * -------------------------
 */
/* 顶部工具栏高度 */
/* 页面左边的宽度 */
/* 页面右边的宽度 */
/* 页面底部的宽度 */
/* 整个页面的可视范围的高度 */
/* tabs页面标签栏的高度 */
/* tabs页面标签栏按钮的宽度 */
#xqkeji-page-body {
  margin-top: 0.2rem;
}
#xqkeji-page-body .table tbody tr td {
  padding: 0.3rem;
}
#xqkeji-page-body td {
  text-align: center;
  vertical-align: middle;
}
#xqkeji-page-body td .form-switch {
  width: 32px;
  margin: auto;
}
#xqkeji-page-body th {
  text-align: center;
  vertical-align: middle;
}
#xqkeji-page-body > .card-header {
  color: #fff;
}

#xqkeji-form {
  margin-top: 0.2rem;
}
#xqkeji-form .card-header {
  color: #fff;
  height: 3rem;
}
#xqkeji-form .form-group {
  margin-bottom: 1rem;
}
#xqkeji-form #xqkeji-form-body {
  margin-top: 0.5rem;
}
#xqkeji-form .xqkeji-check-group {
  list-style: none;
  padding: 0;
  margin: 0;
}
#xqkeji-form .xqkeji-check-group li {
  float: left;
  padding: 0 10px 0 0;
}
#xqkeji-form .xqkeji-check-group li label {
  margin-left: 0.5rem;
}
#xqkeji-form .xq-auth-table td {
  vertical-align: middle;
}
#xqkeji-form .xq-auth-table .xq-auth-check-table {
  height: 3rem;
}
#xqkeji-form .xq-auth-table .xq-auth-check-row {
  min-width: 10rem;
  min-height: 4rem;
}
#xqkeji-form .xqkeji-auth-check {
  list-style: none;
  padding: 0;
}
#xqkeji-form .xqkeji-auth-check li {
  float: left;
  padding: 0 10px;
  line-height: 2rem;
  display: flex !important;
  align-items: center !important;
}
#xqkeji-form .xqkeji-auth-check li label {
  margin-left: 0.2rem;
}
#xqkeji-form .xq-tab-form .tab-content {
  padding-top: 0.5rem;
}

.xq-captcha {
  cursor: pointer;
}

.card-header.bg-success {
  color: #fff;
}

.card-header {
  height: 50px;
  max-height: 50px;
}
.card-header .form-inline {
  margin-top: -2px;
}

.file-drop-zone {
  min-height: auto !important;
}
.file-drop-zone .file-drop-zone-title {
  padding: 45px 10px;
}

.container-fluid > .row > div > h2 > b {
  color: #fff;
}

.xq-move {
  cursor: move;
}

.xq-dragger-table.xq-table-striped > tbody:nth-of-type(odd) > tr > td {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.xq-dragger-table.xq-table-hover > tbody > tr:hover > td {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.05);
}

.xq-dragger-table > :not(:first-child) {
  border-top: none;
}

.xq-dragger-table > thead {
  border-bottom: 2px solid currentColor;
}

.xq-dragger-table > tfoot {
  border-top: 2px solid currentColor !important;
}

/**
* 行内表单
*/
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.form-inline .form-check {
  width: 100%;
}
@media (min-width: 576px) {
  .form-inline label,
.form-inline .form-group,
.form-inline .form-check {
    display: flex;
  }
  .form-inline label,
.form-inline .form-group {
    margin-bottom: 0;
  }
  .form-inline label {
    align-items: center;
    justify-content: center;
  }
  .form-inline .form-group,
.form-inline .form-check {
    align-items: center;
  }
  .form-inline .form-group {
    flex: 0 0 auto;
    flex-flow: row wrap;
  }
  .form-inline .form-control,
.form-inline .form-control-plaintext {
    display: inline-block;
  }
  .form-inline .form-control {
    width: auto;
    vertical-align: middle;
  }
  .form-inline .input-group,
.form-inline .custom-select {
    width: auto;
  }
  .form-inline .form-check {
    display: flex;
    justify-content: center;
    width: auto;
    padding-left: 0;
  }
  .form-inline .form-check-input {
    position: relative;
    flex-shrink: 0;
    margin-top: 0;
    margin-right: 0.25rem;
    margin-left: 0;
  }
  .form-inline .custom-control {
    align-items: center;
    justify-content: center;
  }
  .form-inline .custom-control-label {
    margin-bottom: 0;
  }
}

.xq-treegrid-indent {
  width: 10px;
  height: 10px;
  margin-top: 15px;
  float: left;
  display: inline-block;
  position: relative;
  background-image: url("/assets/images/indent.gif");
  background-position: -3px;
}

.xq-treegrid-expander {
  width: 10px;
  height: 10px;
  margin-top: 15px;
  float: left;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-image: url("/assets/images/indent.gif");
  background-position: -3px;
}

td span.xq-treegrid-indent:first-child {
  background-position: 0;
  margin-left: 4px;
}

.xq-treegrid-expander-expanded {
  background-image: url("/assets/images/collapse.png");
}

.xq-treegrid-expander-collapsed {
  background-image: url("/assets/images/expand.png");
}

.xq-treegrid .xq-edit {
  margin-right: 3px;
}

.xq-treegrid .xq-delete {
  margin-right: 3px;
}

.xq-treegrid.xq-table-striped > tbody:nth-of-type(odd) > tr > td {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.xq-treegrid.xq-table-hover > tbody > tr:hover > td {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.05);
}

.xq-treegrid > :not(:first-child) {
  border-top: none;
}

.xq-treegrid > thead {
  border-bottom: 2px solid currentColor;
}

.xq-treegrid > tfoot {
  border-top: 2px solid currentColor !important;
}

.xq-table {
  display: table;
  width: 100%;
  margin-bottom: 0;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
  border-collapse: collapse;
}
.xq-table > .thead {
  display: table-header-group;
  vertical-align: bottom;
}
.xq-table > .tbody {
  display: table-row-group;
  vertical-align: inherit;
}
.xq-table > .tbody .td {
  padding: 0.3rem;
}
.xq-table > .tfoot {
  display: table-footer-group;
  vertical-align: bottom;
}
.xq-table .tr {
  display: table-row;
}
.xq-table .td {
  display: table-cell;
  vertical-align: middle;
}
.xq-table .td .form-switch {
  width: 32px;
  margin: auto;
}
.xq-table .cols {
  display: table-caption;
}
.xq-table .tbody,
.xq-table .td,
.xq-table .tfoot,
.xq-table .thead,
.xq-table .tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
.xq-table > :not(.caption) > div > div {
  padding: 0.5rem;
  background-color: transparent;
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px transparent;
}
.xq-table > :not(:first-child),
.xq-table .tfoot {
  border-top: 2px solid currentColor;
}

.xq-table-bordered > :not(.caption) > .tr {
  border-width: 1px 0;
}
.xq-table-bordered > :not(.caption) > .tr > .td {
  border-width: 0 1px;
}

.xq-table-borderless > :not(caption) > div > div {
  border-bottom-width: 0;
}
.xq-table-borderless > :not(:first-child) {
  border-top-width: 0;
}

.xq-table-striped > .tbody > .tr:nth-of-type(odd) > div {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.05);
}

.xq-table-hover > .tbody > .tr:hover > div {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.05);
}
/*# sourceMappingURL=xq-page.css.map */